<div class="home col-md-12 col-lg-12">
    <div class="container ">
        <div class="home__div col-md-4 col-lg-4">
            <p>It's time to create your profile</p>
            <p> and customize you experience</p>
            <p> in <strong>LinkApi Movies!</strong></p>
        </div>
        <div class="home__formulario col-md-7 col-lg-7">
            <form >
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                   
                </div>


                <label>Nome</label>
                <input type="text"><br>
                
                <label>Idade</label>
                <input type="number"><br>

                <label>Favorite movie</label>
                <input type="text"><br>

                <label></label>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Favorite Genre</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select>
                </div>

            </form>
        </div>
    </div>
</div>